.j-loading {
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9;
}
.j-loading-spinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.loading-bar{
    animation: loading-spinner 1s linear infinite;
    i{
        font-size: 40px;
        color: var(--primary-color);

    }
    span{
        font-size: 16px;
        color: var(--primary-color);
    }
}
@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}