.flex_box{
  display: flex;
  align-items: center;
}
.flex{
  display: flex;
};
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
button.small-btn{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.ripple{
    position: fixed;
    border-radius: 50%;
    animation: ripple 1s ease;
    pointer-events: none;
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}
.wave{
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  animation: wave 0.3s linear;
  opacity: 0;
}
@keyframes wave {
  0%{
    transform: scale(0);
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
@font-face {
  font-family: "iconfont"; /* Project id 5023305 */
  src: url('//at.alicdn.com/t/c/font_5023305_xdonk3u2j5a.woff2?t=1762313101830') format('woff2'),
       url('//at.alicdn.com/t/c/font_5023305_xdonk3u2j5a.woff?t=1762313101830') format('woff'),
       url('//at.alicdn.com/t/c/font_5023305_xdonk3u2j5a.ttf?t=1762313101830') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e62c";
}

.icon-loading1:before {
  content: "\e644";
}

.icon-riji:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-bianji:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e630";
}

.icon-huojian:before {
  content: "\e62b";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-aixin:before {
  content: "\e83f";
}

.icon-aixin1:before {
  content: "\e85c";
}