.flex_box{
  display: flex;
  align-items: center;
}
.flex{
  display: flex;
};
.items-center{
  align-items: center;
}
@font-face {
  font-family: "iconfont"; /* Project id 5023305 */
  src: url('//at.alicdn.com/t/c/font_5023305_zjfbcl51ju.woff2?t=1758809854102') format('woff2'),
       url('//at.alicdn.com/t/c/font_5023305_zjfbcl51ju.woff?t=1758809854102') format('woff'),
       url('//at.alicdn.com/t/c/font_5023305_zjfbcl51ju.ttf?t=1758809854102') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-aixin:before {
  content: "\e83f";
}

.icon-aixin1:before {
  content: "\e85c";
  color: red;
}


