.flex_box{
  display: flex;
  align-items: center;
}
.flex{
  display: flex;
};
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
button.small-btn{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "iconfont"; /* Project id 5023305 */
  src: url('//at.alicdn.com/t/c/font_5023305_zt222hjybg.woff2?t=1759214111162') format('woff2'),
       url('//at.alicdn.com/t/c/font_5023305_zt222hjybg.woff?t=1759214111162') format('woff'),
       url('//at.alicdn.com/t/c/font_5023305_zt222hjybg.ttf?t=1759214111162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e630";
}

.icon-huojian:before {
  content: "\e62b";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-fenxiang:before {
  content: "\e607";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-aixin:before {
  content: "\e83f";
}
.icon-aixin1:before {
  content: "\e85c";
  color: red;
}


